{% extends "base.html" %}
{% block content %}
    {% count = 0 %}
    {% for user in users %}
        <tr>
            <th scope="row">{{ count }}</th>
            <td>
                <a href="#">
                    Some item on your list
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-sm btn-primary my-1 my-sm-0">
                    <span class="fas fa-edit mr-1"></span>
                    Edit</a>
                <a href="#" class="btn btn-sm btn-danger my-1 my-sm-0">
                    <span class="fas fa-trash mr-1"></span>
                    Delete</a>
            </td>
        </tr>
        {% count +=1 %}
    {% endfor %}
{% endblock %}